<h1>ADD A PERSONAL ITEM</h1>

<%= form_with model: @personal_item, local: true do |f| %>

  <%= f.label :note %>
  <%= f.text_area :note %>
  <br/>

  <%= f.label :date_acquired %>
  <%= f.date_field :date_acquired %>
  <br/>

  <%= f.label :status %>
  <%= f.text_field :status %>
  <br/>

  <%= f.collection_check_boxes :item_ids, Item.all, :id, :name %>

  <br/>

    <%= f.label :user_id %>
  <%= f.text_field :user_id %>
  <br/>

  <%= f.submit 'Signup' %>


  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
    <% end %>

<% end %>