<div>
<h3><%= personal_item.item.name%></h3>
Brand: <%= personal_item.item.brand %>
<br/>
Date acquired: <%= personal_item.date_acquired %>
<br/>
Status: <%= personal_item.status %>
<br/>
Notes: <%= personal_item.note %>
<!-- TEST:  personal_item.user.name -->
<!-- link_to personal_item.note, personal_item_path(personal_item) -->
</div>

<!-- non authorize link_to "Edit", edit_personal_item_path(personal_item) -->
<%= link_to "Edit", edit_user_personal_item_path(current_user, personal_item) %>
<%= link_to "Delete", personal_item, method: :delete, data: { confirm: "Do you really want to remove this item?" } %>